@font-face {
    font-family: "Alata";
    font-weight: 400;
    src: url(../fonts/alata-regular-webfont.woff2) format("woff2"),
        url(../fonts/alata-regular-webfont.woff) format("woff");
}

@font-face {
    font-family: "vt323";
    font-weight: 400;
    src: url(../fonts/vt323-regular-webfont.woff2) format("woff2"),
        url(../fonts/vt323-regular-webfont.woff) format("woff");
}
