---
import i18next, { t, changeLanguage } from "i18next";
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
import Background from "../../components/Background.astro";
import Nav from "../../components/Nav.astro";

changeLanguage("en");
---

<Layout title={t("meta.title")}>
    <Nav />

    <header class="header">
        <h1 class="section-title">Alan Fernandes</h1>
        <p class="subtitle">{t("home.title")}</p>
    </header>

    <main>
        <!-- Shortcut buttons -->

        <section id="shortcut-buttons" class="show">
            <ul>
                <li><a href="#about" class="button">{t("home.nav.about.long")}</a></li>
                <li><a href="#projects-header" class="button">{t("home.nav.projects.long")}</a></li>
                <li><a href="#contact" class="button">{t("home.nav.contact.long")}</a></li>
            </ul>

            <div id="language-buttons">
                <p>{t("home.nav.languageOptions")}:</p>
                <ul>
                    <li><a href="/en" class={i18next.language === "en" && "highlight"}>EN</a></li>
                    <li><a href="/" class={i18next.language === "pt-BR" && "highlight"}>PT</a></li>
                </ul>
            </div>
        </section>

        <!-- About me -->

        <h2 class="screen-reader">{t("home.about.screenReader")}</h2>

        <section id="about">
            <div class="windows">
                <div class="window image">
                    <h3>./{t("home.image.title")}.jpg</h3>
                    <Image
                        src={import("@images/my_ugly_mug.jpg")}
                        alt={t("home.image.alt")}
                        width={350}
                        height={350}
                        format="webp"
                        quality={75}
                    />
                </div>
                <div class="window">
                    <h3>./{t("home.about.title")}.jpg</h3>
                    <p>{t("home.about.content")}</p>
                </div>
                <div class="window" id="skills">
                    <h3>./{t("home.skills.title")}.jpg</h3>
                    <p class="tags">
                        <span class="highlight">React</span>,
                        <span class="highlight">Vue</span>,
                        <span class="highlight">Astro</span>,
                        <span class="highlight">Node</span>,
                        <span class="highlight">SCSS</span>
                    </p>
                    <p>{t("home.skills.content")}</p>
                </div>
            </div>
        </section>

        <!-- Projects -->

        <div class="header" id="projects-header">
            <h2 class="section-title">{t("home.projects.title")}</h2>
        </div>

        <section id="projects">
            <!-- Project 1 -->

            <div class="project">
                <div class="window image">
                    <Image
                        src={import("@images/heros_tavern.webp")}
                        alt={t("home.projects.project1.imageAlt")}
                        width={350}
                        height={350}
                        format="webp"
                        quality={85}
                    />
                </div>
                <div class="window description">
                    <h3>./{t("home.projects.project1.title")}.html</h3>
                    <p class="tags">
                        <span class="highlight">React</span>,
                        <span class="highlight">SCSS</span>,
                        <span class="highlight">Node</span>,
                        <span class="highlight">Pocketbase</span>,
                        <span class="highlight">Open AI</span>
                    </p>
                    <p>{t("home.projects.project1.description")}</p>
                    <a class="button" href="https://herostavern.com">{t("home.projects.linkLabel")}</a>
                    <a href="https://github.com/Rayuaz/heros-tavern">{t("home.projects.buttonLabel")}</a>
                </div>
            </div>

            <!-- Project 2 -->

            <div class="project">
                <div class="window image">
                    <Image
                        src={import("@images/twilight_ui.png")}
                        alt={t("home.projects.project2.imageAlt")}
                        width={350}
                        height={350}
                        format="webp"
                        quality={85}
                    />
                </div>
                <div class="window description">
                    <h3>./{t("home.projects.project2.title")}.html</h3>
                    <p class="tags">
                        <span class="highlight">React</span>,
                        <span class="highlight">SCSS</span>
                    </p>
                    <p>{t("home.projects.project2.description")}</p>
                    <a class="button" href="https://github.com/Rayuaz/twilight-ui">{t("home.projects.buttonLabel")}</a>
                </div>
            </div>

            <!-- Project 3 -->

            <div class="project">
                <div class="window image">
                    <Image
                        src={import("@images/track_it.webp")}
                        alt={t("home.projects.project3.imageAlt")}
                        width={350}
                        height={350}
                        format="webp"
                        quality={85}
                    />
                </div>
                <div class="window description">
                    <h3>./{t("home.projects.project3.title")}.html</h3>
                    <p class="tags">
                        <span class="highlight">Vanilla JS</span>,
                        <span class="highlight">SCSS</span>
                    </p>
                    <p>{t("home.projects.project3.description")}</p>
                    <a class="button" href="https://trackitapp.netlify.app/">{t("home.projects.linkLabel")}</a>
                    <a href="https://github.com/Rayuaz/track-it">{t("home.projects.buttonLabel")}</a>
                </div>
            </div>
        </section>

        <!-- Contact -->

        <div class="header" id="contact-header">
            <h2 class="section-title">{t("home.contact.title")}</h2>
        </div>

        <section id="contact">
            <ul>
                <li><a href="https://github.com/Rayuaz" class="button">Github</a></li>
                <li><a href="https://www.linkedin.com/in/alan-fernandes-300259201/" class="button">Linkedin</a></li>
            </ul>
            <p>{t("home.contact.email")}</p>
        </section>
    </main>
    <Background />
</Layout>

<script>
    const header = document.querySelector("header");
    const shortcuts = document.querySelector("#shortcut-buttons");
    const nav = document.querySelector("nav");
    const sections = document.querySelectorAll("section");

    // Nav observer. Toggles the navbar once the user scrolls past the header

    const navObserver = new IntersectionObserver(
        (entries) => {
            nav.classList.toggle("show", !entries[0].isIntersecting);
            shortcuts.classList.toggle("show", entries[0].isIntersecting);
        },
        {
            threshold: 1,
        }
    );

    navObserver.observe(header);

    // Section observer. Highlights the current section in the navbar

    const sectionObserver = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                const targetId = entry.target.id;
                let linkId;

                switch (targetId) {
                    case "about":
                        linkId = "about";
                        break;
                    case "projects":
                        linkId = "projects-header";
                        break;
                    case "contact":
                        linkId = "contact-header";
                        break;

                    default:
                        break;
                }

                const link = document.querySelector(`#shortcuts a[href="#${linkId}"]`);

                if (link) {
                    link.classList.toggle("highlight", entry.isIntersecting);
                }
            });
        },
        {
            threshold: 0.1,
        }
    );

    sections.forEach((section) => {
        sectionObserver.observe(section);
    });
</script>
