---
import i18next, { t } from "i18next";

import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
---

<Layout title="Alan Fernandes - Frontend Developer">
    <header>
        <h1>Alan Fernandes</h1>
        <p class="subtitle">{t("home.title")}</p>
    </header>
    <main><p>asga</p></main>
    <Background />
</Layout>
