---
import "./Background.scss";
---

<div id="background">
    <div id="sky">
        <div id="moon"></div>
        <svg id="mountain-background" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 206"
            ><path
                d="M49.072 0 0 24.355V206h1366v-96.404l-69.1-69.005-86.13 45.665-68.1-45.665-130.19 57.842-45.064-41.605-66.096 52.768-63.093-79.153-57.083 67.99L718.051 6.09l-88.129 141.054-42.061-60.887-102.15 51.754-37.054-107.567-94.138 55.813-37.054-37.547-117.172 84.227-28.041-51.754-68.1 11.163L49.072 0Z"
            ></path></svg
        >
        <svg id="mountain-foreground" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 267"
            ><path
                d="M128.811 183.688 0 125.47V267h1366V32.12l-42.94 49.185L1270.14 0l-151.78 218.82-106.84-100.376-28.959 48.18-74.89-79.297-200.706 165.62-131.807-86.323-52.923 22.083-68.899-42.158-29.956 13.049-34.949-28.106-88.87 87.328-86.872-44.166-83.878 9.034Z"
                fill="#190015"></path></svg
        >
    </div>

    <div id="vignette"></div>
    <div id="horizon-line"></div>
    <div id="horizon-light-1"></div>
    <div id="horizon-light-2"></div>
    <div id="grid-light"></div>

    <div id="grid">
        <div id="grid-inner">
            <div id="horizontal-lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div id="vertical-lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>
